  <!DOCTYPE html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>E-class</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <a class="navbar-brand" href="#">E-class</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            kelas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/science">sains</a>
            <a class="dropdown-item" href="/social">social</a>
            <a class="dropdown-item" href="/math">math</a>
          </div>
      </ul>
    </div>
    </class>
  </nav><br>
 
  <center>
  <div class="container">
  <img src="/social.jpg" width="500px" height="500px"><br>
  <center><h1>SOCIAL</h1></center><br>
  <p>sekelompok disiplin akademis yang mempelajari aspek-aspek yang berhubungan dengan manusia dan lingkungan sosialnya. </p>
  </div></center>

<!--Data ipa-->
<div class="container">
  <h3>anggota social</h3>
  <!-- <a href="/add_social" class = "btn btn-primary">add user</a> -->
<table class="table">
<thead>
  <tr>
    
    <th scope="col">No</th>
    <th scope="col">nim</th>
    <th scope="col">nama</th>
    <th scope="col">kelas</th>
    <!-- <th scope="col">action</th> -->
  </tr>
</thead>
<tbody>
  <% 
  no=1
  ips.forEach((social)=>{ %>
  <tr>
    <td><%= no++%></td>
    <td><%= social.nip %></td>
    <td><%= social.nama %></td>
    <td><%= social.id_kelas %></td>
    <!-- <td><a href="/edit_ips/<%= social.id %>">EDIT</a> | <a href="/delete_ips/<%= social.id %>">delete</a></td> -->
  </tr>
  <% }) %>
 
</tbody>
</table>
</div>
<!--End data-->

  <body>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>