<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>E-class</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <a class="navbar-brand" href="/">E-class</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            kelas
          </a>
          <class class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div><a class="dropdown-item" href='/science'>1. sains</a></d>
            <div><a class="dropdown-item" href="/social">2. social</a></div>
            <div><a class="dropdown-item" href="/math">3. math</a></div>
          </class>
      </ul>
    </div>
    </class>
  </nav><br>

  <center>
  <div class="container">
  <img src="yoi.png" width="500px" height="400px"><br>
  <b><center><h1>E-Class</h1></center></b>
  </div></center>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="img style="width: 300px;>
        <a href="/science">
          <img class="card-img-top" src="/unnamed (1).png" >
          <h5>1. sains</h5>
          <div class="card-body">
            </a>
          </div>
        </div>
    </div>
    <div class="col-sm">
      <div class="img style="width: 300px;>
        <a href="/social">
          <img class="card-img-top" src="/social.jpg">
          <h5>2. social</h5>
          <div class="card-body">
            </a>
          </div>
        </div>
    </div>
    <div class="col-sm">
      <div class="img style="width: 300px;>
        <a href="/math">
          <img class="card-img-top" src="/unnamed.png">
          <h5>3. math</h5>
          <div class="card-body">
          </a>
          </div>
        </div>
    </div>
  </div>
</div>

<!---->
<div class="container">
  <h3>anggota e-class</h3>
  <a href="/add" class = "btn btn-primary">add user</a>
<table class="table">
<thead>
  <tr>
    <th scope="col">no</th>
    <th scope="col">nip</th>
    <th scope="col">nama</th>
    <th scope="col">id_kelas</th>
    <th scope="col">action</th>
  </tr>
</thead>
<tbody>
    <%
    no=1
    users.forEach((tb_pelajar)=>{ %>
  <tr>
    <td><%= no++ %></td>
    <td><%= tb_pelajar.nip%></td>
    <td><%= tb_pelajar.nama %></td>
    <td><%= tb_pelajar.id_kelas%></td>
    <td><a href="/edit/<%= tb_pelajar.id %>">edit</a> | <a href="/delete/<%= tb_pelajar.id %>">delete</a></td>
  </tr>
  <% }) %>
 
</tbody>
</table>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>